<div class="dashboard-layout">
  <div class="panel-contenedor">
    <div class="logo">
      <h3>Dashboard
        @if (userId) {
        <span>
          <h5>{{ userId }}</h5>
        </span>
        }
      </h3>
    </div>

    <nav class="panel-nav">
      <ul>
        @for (item of navItems; track item.label) {
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="item.link">
            <i class="{{ item.icon }}"></i>
            <span>{{ item.label }}</span>
          </a>
        </li>
        }
      </ul>
    </nav>

    <div class="panel-footer">
      <a routerLink="/ayuda">
        <i class="fa-solid fa-circle-info"></i>
        <span>Ayuda</span>
      </a>
    </div>
  </div>

  <div class="dashboard-content">
    <router-outlet></router-outlet>
  </div>
</div>