<h1 class="lato-bold2">Tarifas</h1>
<section class="tarifas">
    <div class="planas">
        <img src="" alt="">
        <h2 class="lato-bold2">Plan Urbano</h2>
        <p class="lato-regular">Tu aliado para el día a día en la ciudad y tus escapadas económicas.</p>
        <ul>
            <li>Autos compactos y económicos.</li>
            <li>200km por día.</li>
            <li>Seguro básico contra terceros.</li>
            <li>Asistencia en carretera 24/7.</li>
            <li>Posibilidad de agregar un conductor adicional (con cargo adicional).</li>
            <li>Y más...!</li>
        </ul>
        <button class="lato-bold1">Ver Detalles</button>
    </div>
    <div class="planas">
        <img src="" alt="">
        <h2 class="lato-bold2">Plan Familiar</h2>
        <p class="lato-regular">Espacio y confort para tu familia, viajes y esas tareas que requieren más capacidad.</p>
        <ul>
            <li>Sedanes medianos, SUVs compactos y familiares</li>
            <li>Seguro completo con franquicia reducida.</li>
            <li>Asistencia en carretera 24/7.</li>
            <li>Posibilidad de agregar un conductor adicional sin cargo extra.</li>
            <li>Silla de seguridad para niños bonificada (sujeto a disponibilidad).</li>
        </ul>
        <button class="lato-bold1">Ver Detalles</button>
    </div>
    <div class="planas">
        <img src="" alt="">
        <h2 class="lato-bold2">Plan Utilitario</h2>
        <p class="lato-regular">La solución robusta para tus proyectos, mudanzas o el máximo confort en tus traslados.</p>
            <ul>
                <li>SUVs grandes, minivans, pick-ups y furgonetas de pasajeros.</li>
                <li>Kilometraje ilimitado.</li>
                <li>Seguro premium.</li>
                <li>Asistencia en carretera 24/7.</li>
                <li>GPS integrado.</li>
                <li>Entrega a domicilio.</li>
            </ul>
        <button class="lato-bold1">Ver Detalles</button>
    </div>
</section>
<h1 class="lato-bold2">Ofertas</h1>
<section class="tarifas">
    <div class="ofertas">
        <img src="" alt="">
        <h2 class="lato-bold2">¡Tu Primer Alquiler con 10% OFF!</h2>
        <p class="lato-regular">¿Es tu primera vez con nosotros? ¡Disfruta de un 10% de descuento en tu primera reserva de cualquier vehículo por 2 días o más!</p>
        <button class="lato-bold1">Aprovechar Oferta</button>
    </div>
    <div class="ofertas">
        <img src="" alt="">
        <h2 class="lato-bold2">Fin de Semana Largo: Alquila 3 Días, Paga 2</h2>
        <p class="lato-regular">Escapada, mini-mudanza o trámites extendidos. Alquila cualquier vehículo por 3 días y te regalamos el día más barato.</p>
        <button class="lato-bold1">Aprovechar Oferta</button>
    </div>
    <div class="ofertas">
        <img src="" alt="">
        <h2 class="lato-bold2">Reserva Anticipada Verano 2026: Hasta 20% OFF</h2>
        <p class="lato-regular">¡Planifica tus vacaciones con tiempo! Reserva tu vehículo para la temporada de verano con al menos 60 días de antelación y accede a descuentos exclusivos.</p>
        <button class="lato-bold1">Aprovechar Oferta</button>
    </div>
    <div class="ofertas">
        <img src="" alt="">
        <h2 class="lato-bold2">Plan Trámites y Gestiones: 3 Horas de Compacto por un Precio Fijo</h2>
        <p class="lato-regular">¿Solo necesitas el auto por unas pocas horas para gestiones rápidas? Alquila un compacto por 3 horas a un precio fijo y súper conveniente.</p>
        <button class="lato-bold1">Aprovechar Oferta</button>
    </div>
</section>