<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <!-- Logo -->
    <div class="nav-item logo">
      <a class="navbar-brand" href="#">
        <img src="assets/img/horneroCarsBlanco2.png" class="img-fluid" alt="HorneroCars" style="height: 70px;">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

  <ul class="navbar-nav me-auto mb-2 mb-lg-0">

  <!-- Mostrar "Reservas" solo si NO hay usuario -->
  <li class="nav-item" *ngIf="!usuarioLogueado">
    <a class="nav-link" routerLink="/reserva">Reservas</a>
  </li>

  <!-- Mostrar "Información" solo si NO hay usuario o si es Cliente -->
  <li class="nav-item dropdown" *ngIf="!usuarioLogueado || usuarioLogueado.rol === 'Cliente'">
    <a
      class="nav-link dropdown-toggle"
      routerLink="/informacion"
      id="infoDropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Información
    </a>
    <ul class="dropdown-menu" aria-labelledby="infoDropdown">
      <li><a class="dropdown-item" href="#">Vehículos</a></li>
      <li><a class="dropdown-item" href="#">Tarifas</a></li>
      <li><a class="dropdown-item" href="#">Contacto</a></li>
    </ul>
  </li>

</ul>

  <!-- Contenedor para botón/usuario alineado a la derecha -->
  <ul class="navbar-nav ms-auto">

    <!-- Botón iniciar sesión -->
    <li class="nav-item" *ngIf="!usuarioLogueado">
      <button class="btn btn-custom nav-link" (click)="abrirModalSesion()">Iniciar sesión</button>
    </li>

    <!-- Dropdown usuario logueado -->
    <li class="nav-item dropdown" *ngIf="usuarioLogueado">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="userDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ usuarioLogueado.userId }}
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        <li><a class="dropdown-item" href="#">Mi Cuenta</a></li>
        <li><button class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</button></li>
      </ul>
    </li>

  </ul>
</div>
    </div>
  
</nav>