<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
     <!-- Logo -->
        <div class="nav-item logo">
            <a class="navbar-brand" href="#">
                <img src="assets/img/horneroCarsBlanco2.png" class="img-fluid" alt="HorneroCars" style="height: 70px;">
            </a>
        </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Reservas -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/reserva">Reservas</a>
        </li>

        <!-- Dropdown Información -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/informacion" id="infoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Información
          </a>
          <ul class="dropdown-menu" aria-labelledby="infoDropdown" >
            <li><a class="dropdown-item" href="#">Vehículos</a></li>
            <li><a class="dropdown-item" href="#">Tarifas</a></li>
            <li><a class="dropdown-item" routerLink="/contacto">Contacto</a></li>
          </ul>
        </li>
      </ul>

      <!-- Botón de inicio de sesión -->
      <button class="btn btn-custom">Iniciar sesión</button>
    </div>
  </div>
</nav>
