/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Numans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Numans&display=swap');


.lato-regular {  /*PARRAFOS*/
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold1 { /*NAV Y BOTONES*/
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.lato-bold2 {   /*TITULO*/
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*Colores*/
:root {
    --primer-color: #E8751A; /*Botones principales y enlaces de texto*/
    --segundo-color: #D46B12; /*Hover e interacción de botones principales*/
    --tercer-color: #222831; /*Nav y footer*/
    --cuarto-color: #F8F9FA; /*Fondo principal*/
    --quinto-color: #FFFFFF; /*Color de texto en botones principales, nav y footer*/
    --sexto-color: #EEEEEE; /*Bordes y fondos secundarios*/
    --hornero-enlace-secundario: #0056b3; /* Enlace secundario */
    --hornero-enlace-secundario-hover: #004494; /*Hover de enlace secundario*/

     /* Colores de Feedback (UX) */
    --hornero-exito: #198754;      
    --hornero-error: #dc3545;       
    --hornero-advertencia: #ffc107;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%; /* Asegura que no se desborde */
  overflow-x: hidden; /* oculta desbordamiento horizontal (para que no aparezca la barra de desplazamiento horizontal)*/
}